@import "tailwindcss";

@theme {
  --color-theme-yellow: #f5c044;
  --color-theme-green: #4ca154;
  --color-theme-black: #18181b;
  --color-theme-gray: #52525a;
  --color-theme-light-gray: #d4d4d8;
  --color-theme-off-white: #fafaf9;
  --color-theme-white: #ffffff;

  --font-sora: "Sora", sans-serif;

  --shadow-theme-card: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);

  --text-md: 17px;
}
