---
interface Props {
  name: string;
  rating: number;
  review: string;
  socialMedia: string;
  alignment: string;
}

const { name, rating, review, socialMedia, alignment }: Props = Astro.props;
---

<article
  class:list={[
    alignment,
    "bg-theme-white shadow-theme-card flex w-[350px] flex-col gap-y-4 rounded-xl p-8",
  ]}
>
  <div class="flex flex-row items-center gap-x-3">
    <img src={socialMedia} alt="" width={80} height={80} />
    <div class="flex flex-row gap-x-1">
      {
        Array.from({ length: rating }).map(() => (
          <img class="size-6" src="/Star_fill.svg" alt="Gold Star" />
        ))
      }
      {
        Array.from({ length: 5 - rating }).map(() => (
          <img class="size-6" src="/Star_fill_gray.svg" alt="Gray Star" />
        ))
      }
    </div>
  </div>
  <h2 class="text-theme-black text-xl font-bold">{name}</h2>
  <p class="text-theme-gray text-base">{review}</p>
</article>
