<article>
  <div class="flex">
    <img src="/google-testimonial.svg" alt="" />
    <img src="/Star_fill.svg" alt="" />
  </div>
  <h2>name</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere corporis laborum culpa error.
    Unde cumque saepe optio dolorum dignissimos. Odio magni neque repellendus, sapiente atque
    deleniti esse officia fugiat hic.
  </p>
</article>
